@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@400;700&display=swap');

.modesto,
.dnd5e .form-header,
.dnd5e.sheet .sheet-header .header-details,
.dnd5e.sheet .sheet-navigation,
.dnd5e.sheet.actor h4.box-title,
.dnd5e.sheet.actor ul.attributes li.attribute .attribute-value,
.dnd5e.sheet.actor .ability-scores,
.dnd5e.sheet.actor .inventory-list .inventory-header h3,
.dnd5e.chat-card .card-header h3 {
	font-family: "Yanone Kaffeesatz", serif;
}

.dnd5e.sheet.actor.character .resource .attribute-value label.recharge,
.dnd5e.sheet.actor ul.attributes li.attribute .attribute-footer {
	font-family: "Signika", "Yanone Kaffeesatz", serif;
}

/* Rest buttons in Hit Dice Box */
.dnd5e.sheet.actor.character .sheet-header .attributes a.rest {
	font-size: 10px;
}

.dnd5e.sheet.actor .ability-scores .ability {
	min-width: 96px;
}

.dnd5e.sheet.actor.npc .header-exp {
	flex: 0 0 120px;
}

.dnd5e input[type="text"] {
	min-height: 20px;
}